<div class="photo-edit">
  <ul class="list-unstyled">
    <li>
      Title: {{photo.title}}
    </li>
    <li>
      Camera: {{photo.camera}}
    </li>
    <li>
      Lens: {{photo.lens}}
    </li>
    <li>
      Focal Length: {{photo.focalLength}}
    </li>
    <li>
      Shutter Speed: {{photo.shutterSpeed}}
    </li>
    <li>
      Apperture: {{photo.apperture}}
    </li>
    <li>
      ISO: {{photo.iso}}
    </li>
    <li>
      Location: {{photo.location}}
    </li>
    <li>
      Album: {{photo.album}}
    </li>
  </ul>
</div>
