<div class="_profile container">
  <h1>Edit Profile</h1>
  <form action="">
    <div class="row">
      <div class='col-sm-4'>
        <div class="form-group">
          <label for="firstName">First Name</label>
          {{input id='firstName' class="form-control" type="text" value=model.firstName}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          {{input id='lastName' class="form-control" type="text" value=model.lastName}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-4'>
        <div class="form-group">
          <label for="subtitle">Front-page Subtitle</label>
          {{textarea id='subtitle' class="form-control" value=model.subtitle placeholder='Short, brief sentence to go under your name on the main landing page.'}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="favoriteQuote">Personal Quote</label>
          {{textarea id='favoriteQuote' class="form-control" value=model.favoriteQuote placeholder='A personal quote that you\'d like to share with customers.'}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-4'>
        <div class="form-group">
          <label for="aboutDesc">About Page Description</label>
          {{textarea id='aboutDesc' class="form-control" value=model.aboutDesc placeholder='Describe yourself and your work.'}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="contactDesc">Contact Page Description</label>
          {{textarea id='contactDesc' class="form-control" value=model.contactDesc placeholder='Short description on how you\'d like to be contacted.'}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="location">Location</label>
          {{input id='location' class="form-control" type="text" value=model.location placeholder='Location of your work'}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-sm-4'>
        <div class="form-group">
          <label for="instagram">Instagram Handle</label>
          {{input id='instagram' class="form-control" type="text" value=model.instagram}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="facebook">Facebook</label>
          {{input id='facebook' class="form-control" type="text" value=model.facebook}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="twitter">Twitter Handle</label>
          {{input id='twitter' class="form-control" type="text" value=model.twitter}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="email">E-Mail</label>
          {{input id='email' class="form-control" type="text" value=model.email}}
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          <label for="phone">Phone #</label>
          {{input id='phone' class="form-control" type="text" value=model.phone}}
        </div>
      </div>

      <div class='col-sm-12'>
        <button type='submit' class='btn btn-primary' {{action 'save' model}}>Save</button>
        <div class='saved-msg text-success'>
          {{saved}}
        </div>
      </div>
    </div>
  </form>
</div>
