<!-- section -->
<section class="contact min" id="contact">

  <div class="offset">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- image -->
        <div class="image six columns">

          <img src="./images/contact/image.png" alt="">

        </div>
        <!-- image -->

        <!-- content -->
        <div class="content six columns">

          <div class="story">
            <h3 class="title">Work together</h3>
            <p class="text">{{contactDesc}}</p>
          </div>

          <div class="info">
            <a href="tel:{{phone}}" class="active" target="_blank"><h4>{{phone}}</h4></a><br>
            <a href="mailto:{{email}}" target="_blank"><h4>{{email}}</h4></a>
          </div>

          <div class="social">

            {{#if twitter}}
            <a href="http://www.twitter.com/{{twitter}}" class="circle twitter" target="_blank"></a>
            {{/if}}
            {{#if facebook}}
            <a href="http://www.facebook.com/{{facebook}}" class="circle facebook" target="_blank"></a>
            {{/if}}
            {{#if instagram}}
            <a href="http://www.instagram.com/{{instagram}}" class="circle instagram" target="_blank"></a>
            {{/if}}

          </div>

        </div>
        <!-- content -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>

</section>
<!-- section -->
